@use "vars" as *;

/* ====================================================
Header
==================================================== */
.main-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	transition: .3s;
	background: #fff;
	&__inner{
		@include flex(between, center ,wrap);
		margin: 0 auto;
		@include mq(tb-min) {
			padding: 0 0 0 20px;
		}
		@include mq{
			padding: 10px 14px;
		}
	}
	&__logo{
		width: 326px;
		@include mq(){
			width: 226px;
		}
		@include mq(sm) {
			width: 160px;
			z-index: 100;
		}
	}
	&__contact{
		width: calc(100% - 326px);
		@include flex(end, center);
		@include mq{
			width: calc(100% - 226px);
		}
		@include mq(sm){
			width: calc(100% - 160px);
		}
		&-tel{
			@include font-size(14);
			font-weight: 600;
			color: #233F5E;
			@include mq{
				text-align: right;
			}
			@include mq(sm){
				@include font-size(8.5);
				position: relative;
				left: 2px;
			}
			span{
				@include font-size(12);
				margin-left: 5px;
				@include mq(sm){
					@include font-size(7);
				}
			}
			a{
				font-family: $font-DinB;
				@include font-size(39.7055);
				display: inline-flex;
				align-items: center;
				color: #01A0C8;
				position: relative;
				margin-top: 5px;
				@include mq(sm){
					@include font-size(23.465);
					line-height: 1;
				}
				img{
					width: 26px;
					margin-right: 10px;
					@include mq{
						width: 15px;
						margin-right: 5px;
					}
				}
			}
		}
		&-sns{
			margin-left: 20px;
			@include mq{
				display: none;
			}
			a{
				background: #06C255;
				padding: 21px 25px;
				span{
					@include font-size(20);
					line-height: 1.1;
					color: #fff;
					display: inline-block;
					position: relative;
					padding-left: 60px;
					background: url(../img/common/ico-line.png) no-repeat left center/45px auto;
				}
			}
		}
	}
}

