@use "vars" as *;

/* ====================================================
Layout
==================================================== */
.wrapper{
	padding-top: 86px;
	@include mq(tb){
		padding-top: 50px;
	}
}

.inner{
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	@include mq() {
		width: 100%;
		padding: 0 4%;
	}
}


.form-control {
	display: block;
	width: 100%;
	height: 50px;
	background: #F5F5F5;
	border: 1px solid #C7C7C7;
	padding: 9px 18px;
	@include font-size(16);
	outline: none;
	resize: none;
	appearance: none;
	-webkit-appearance: none;
	border-radius: 0 !important;
	@include mq{
		height: 43px;
		@include font-size(14);
	}
	&--select{
		cursor: pointer;
		max-width: 340px;
		background: #F5F5F5 url(../img/index/ico-arr-select.png) no-repeat center right 15px/14px 12px;
	}
	&--textarea{
		height: 287px;
		padding: 15px;
		@include mq{
			height: 190px;
		}
	}
	&::placeholder {
		color: #919191;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
		color: #919191;
	}
	
	&::-ms-input-placeholder {
		color: #919191;
	}
}


//radio end check box

.mwform-checkbox-field-text{
	@include mq(md-min){
		padding-right: 70px !important;
	}
}


.mwform-checkbox-field label,
.mwform-radio-field label,
.pure-input{
	position: relative;
	@include font-size(16);
	font-weight: 600;
	display: inline-block;
	@include mq {
		@include font-size(14);
	}
	input{
		position: absolute;
		top:  0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		opacity: 0;
		cursor: pointer;
		&[type="checkbox"]{
			& + span{
				padding: 3px 0 3px 22px;
				@include mq{
					padding: 3px 0 3px 26px;
				}
				&::before{
					width: 14px;
					height: 14px;
					@include mq{
						top: 2px;
						transform: none;
					}
				}
				&:after{
					background-color: transparent;
					left: 3px;
					width: 12px;
					height: 4px;
					border-style: solid;
					border-color: white;
					border-width: 0 0 2px 2px;
					border-image: none;
					transform: rotate(-45deg) scale(0);
					@include mq {
						top: 3px;
						left: 1px;
						width: 14px;
						height: 5px;
					}
				}
			}
			&:checked{
				& + span{
					&:after{
						content: '';
						transform: rotate(-45deg) scale(1);
						transition: transform 200ms ease-out;
					}
					&:before {
						background: #233f5e;
					}
				}
			}
		}
		&[type="radio"]{
			+ span{
				&:after,&:before{
					border-radius: 50%;
				}
				&:after{
					top: 4px;
					left: 4px;
					width: 13px;
					height: 13px;
					@include mq(){
						left: 7px;
						width: 12px;
						height: 12px;
					}
				}
			}
			&:checked{
				& + span{
					&:before{
						animation: borderscale 300ms ease-in;
						background-color: white;
					}
					&:after{
						transform: scale(1);
					}
				}
			}
		}
	}
	span{
		display: block;
		position: relative;
		padding: 3px 0 3px 27px;
		user-select: none;
		cursor: pointer;
		@include mq {
			padding: 2px 0 2px 24px;
		}
		&:before{
			box-sizing: content-box;
			content: '';
			background: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 1px;
			width: 17px;
			height: 17px;
			border: 1px solid #707070;
			text-align: center;
			transition: all 0.4s ease;
			@include mq{
				width: 15px;
				height: 15px;
			}
		}
		&:after{
			box-sizing: content-box;
			content: '';
			background-color: #233F5E;
			position: absolute;
			top: 5px;
			left: 4px;
			width: 10px;
			height: 10px;
			transform: scale(0);
			transform-origin: 50%;
			transition: transform 200ms ease-out;
		}
	}
}

