<footer id="main-footer" class="main-footer">
	<div class="inner">
		<div class="main-footer__content">
			<div class="main-footer__clmL">
				<a href="<%= RELATIVE_PATH %>" class="main-footer__logo"><img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="" width="200"></a>
			</div>
			<div class="main-footer__clmR">
				
			</div>
		</div>
		<small class="main-footer__copyright">Copyright &copy;2022 coding LABO</small>
	</div>
	<a href="#" class="btn-fix-contact js-contact"><i class="fa-solid fa-envelope"></i>お問い合わせはこちら</a>
</footer>

