<footer id="main-footer" class="main-footer">
	<div class="inner">
		<h2 class="main-footer__ttl">運営者について</h2>
		<div class="main-footer__content">
			<div class="main-footer__left">
				<h3 class="main-footer__ttlsub">【キリヅキ建築事務所】</h3>
				<dl class="main-footer__dl">
					<dt class="main-footer__dt">代表</dt>
					<dd class="main-footer__dd">桐月 直樹</dd>
				</dl>
				<dl class="main-footer__dl">
					<dt class="main-footer__dt">所在地</dt>
					<dd class="main-footer__dd">〒248-0032　神奈川県鎌倉市津1069-67</dd>
				</dl>
				<dl class="main-footer__dl">
					<dt class="main-footer__dt">電話番号</dt>
					<dd class="main-footer__dd"><a href="tel:0467322031">0467-32-2031</a></dd>
				</dl>
				<dl class="main-footer__dl">
					<dt class="main-footer__dt">E-mail</dt>
					<dd class="main-footer__dd"><a href="mailto:info@kirizuki.com">info@kirizuki.com</a></dd>
				</dl>
				<dl class="main-footer__dl">
					<dt class="main-footer__dt">業務概要</dt>
					<dd class="main-footer__dd">
						木造住宅耐震診断・耐震補強工事／耐震基準適合証明書発行業務／既存住宅建物調査／雨漏り保険対応業務／建築物石綿含有建材調査／マンション・アパート管理全般
					</dd>
				</dl>
			</div>
			<div class="main-footer__right">
				<h3 class="main-footer__ttlsub">【有限会社神崎建設】</h3>
				<dl class="main-footer__dl">
					<dt class="main-footer__dt">代表取締役</dt>
					<dd class="main-footer__dd">桐月 直樹</dd>
				</dl>
				<dl class="main-footer__dl">
					<dt class="main-footer__dt">所在地</dt>
					<dd class="main-footer__dd">〒251-0021　神奈川県藤沢市鵠沼神明5-6-11</dd>
				</dl>
				<dl class="main-footer__dl">
					<dt class="main-footer__dt">電話表)</dt>
					<dd class="main-footer__dd"><a href="tel:0466549703">0466-54-9703 (代表)</a></dd>
				</dl>
				<dl class="main-footer__dl">
					<dt class="main-footer__dt">E-mail</dt>
					<dd class="main-footer__dd"><a href="mailto:info@kanzaki-k.co.jp">info@kanzaki-k.co.jp</a></dd>
				</dl>
				<dl class="main-footer__dl">
					<dt class="main-footer__dt">業務概要</dt>
					<dd class="main-footer__dd">
						内装工事全般（クロス・フローリング・畳・襖 他）／外壁塗装工事／屋根工事／お風呂工事／キッチン工事／トイレ工事／バリアフリー工事／シロアリ工事／ハウスクリーニング／不用品処分
					</dd>
				</dl>
			</div>
		</div>
	</div>
</footer>

