<header id="main-header" class="main-header">
	<div class="main-header__inner">
		<a href="<%= RELATIVE_PATH %>" class="main-header__logo"><img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="" width=""></a>
		<ul class="main-header__contact">
			<li class="main-header__contact-tel">
				<p class="main-header__contact-tel">お問い合わせ <span>平日9:00～17:00</span></p>
				<a href="tel:0467322031"><img src="<%= RELATIVE_PATH %>img/common/ico-tel.png" alt="">0467-32-2031</a>
			</li>
			<li class="main-header__contact-sns">
				<a href="#">
					<span>かんたん<br>LINE無料相談</span>
				</a>
			</li>
		</ul>
	</div>
</header>

